<?php
# Этот файл генерируется Ansible
$wgSecretKey = "{{ lookup('password', '/dev/null length=64 chars=ascii_letters,digits') }}";
$wgUpgradeKey = "{{ lookup('password', '/dev/null length=16 chars=ascii_letters,digits') }}";

# Настройки базы данных
$wgDBtype = "postgres";
$wgDBserver = "{{ db_host }}";
$wgDBname = "{{ db_name }}";
$wgDBuser = "{{ db_user }}";
$wgDBpassword = "{{ db_password }}";

# Пути
$wgScriptPath = "";
$wgArticlePath = "/wiki/$1";
$wgUsePathInfo = true;

$wgServer = "http://{{ lb_host }}";

# Загрузка файлов через S3 (Yandex Object Storage)
wfLoadExtension( 'AWS' );

# Настройки S3-совместимого хранилища
$wgAWSCredentials = [
    'key'    => '{{ s3_access_key }}',
    'secret' => '{{ s3_secret_key }}',
];
$wgAWSRegion = '{{ s3_region }}';
$wgAWSBucketName = '{{ s3_bucket_name }}';
$wgAWSBucketDomain = '{{ s3_endpoint }}';
$wgAWSRepoHashLevels = 2;
$wgAWSRepoDeletedHashLevels = 3;

# Кэширование (отключаем, если нет Redis/Memcached)
$wgMainCacheType = CACHE_NONE;
$wgMessageCacheType = CACHE_NONE;
$wgParserCacheType = CACHE_NONE;

# Логирование
$wgDebugLogFile = "/var/log/mediawiki/debug.log";
$wgDBerrorLog = "/var/log/mediawiki/dberror.log";

# Внешний вид
$wgDefaultSkin = "vector";

# Права (только для авторизованных)
$wgGroupPermissions['*']['createaccount'] = false;
$wgGroupPermissions['*']['edit'] = false;
$wgGroupPermissions['user']['edit'] = true;
$wgGroupPermissions['user']['upload'] = true;

$wgShowExceptionDetails = true; # Диагностика ошибок

# Завершение
#require_once "$IP/LocalSettings_local.php";